// Base hue
@cyan-hue:   190;
@blue-hue:   200;
@indigo-hue: 230;

// Base Colors
@bright-blue:     hsl(@blue-hue, 100%, 50%);
@soft-blue:       hsl(@blue-hue, 100%, 40%);
@indigo:          hsl(@indigo-hue, 35%, 50%);
@cyan:            hsl(@cyan-hue, 95%, 45%);

@very-light-gray: hsl(@blue-hue, 0%, 75%);
@light-gray:      hsl(@blue-hue, 0%, 60%);
@slate-gray:      hsl(@blue-hue, 10%, 40%);
@medium-gray:     hsl(@blue-hue, 10%, 25%);
@dark-gray:       hsl(@indigo-hue, 10%, 15%);
@very-dark-gray:  hsl(@indigo-hue, 10%, 12%);

@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;
@lime-green: #37ff00;

// Derived Colors
@lighter-slate: lighten(@slate-gray, 10%);
@darker-slate: darken(@slate-gray, 10%);
@bluer-slate: spin(@slate-gray, 10);
