// Base Colors
@very-light-gray: #c5c8c6;
@light-gray: #969896;
@slate-gray: #5f6e74;
@gray: #373b41;
@dark-gray: #282a2e;
@mostly-dark-gray: #1d2025;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;

@bright-blue: #00b3ff;
@soft-blue: #008cc4;
@indigo: #4955a8;
@cyan-blue: #06c4e2;

@lime-green: #37ff00;

// Derived Colors
@lighter-slate: lighten(@slate-gray, 10%);
@darker-slate: darken(@slate-gray, 10%);
@bluer-slate: spin(@slate-gray, 10);
